.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.leayer{
    width: 1250px;
    margin: 0 auto;
}
.mt10{
    margin-top: 10px;
}
.mr10{
    margin-right: 10px;
}

